@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/buttons';
@import 'components/form';
@import 'components/navbar';
@import 'components/table';

@import 'layout/animatedbg';
@import 'layout/navigation';

@import 'pages/dashboard';
