@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/buttons';
@import 'components/card';
@import 'components/faq';
@import 'components/form';
@import 'components/navbar';
@import 'components/table';
@import 'components/translator';

@import 'layout/animatedbg';
@import 'layout/banner';
@import 'layout/footer';
@import 'layout/navigation';
@import 'layout/testimonial';

@import 'pages/aboutUs';
@import 'pages/categories';
@import 'pages/contact';
@import 'pages/dashboard';
@import 'pages/home';
@import 'pages/packages';
@import 'pages/product';
@import 'pages/settings';
@import 'pages/userDashboard';
@import 'pages/user';
