.section-banner {
  .input-group {
    width: 45rem;

    .form-control {
      height: 6rem;
      padding: 1rem 2rem;
      border-radius: 5rem;
      border: 1px solid $color-grey-light--1;
      font-size: 1.8rem;
      line-height: 1.5;
      font-weight: 600;
    }

    button {
      font-size: 1.6rem;
      font-weight: 800;
      border-radius: 5rem;
      border: none;
      padding: 0 1.5rem;

      &:hover {
        transform: scale(1) !important;
      }
    }
  }

  .divider span {
    color: $color-blue-dark;
    font-weight: 800;
    font-size: 1.5rem;
  }

  .google-signup {
    img {
      height: 2.5rem;
    }

    .btn-google-login {
      height: 5rem;
      border-radius: 3rem;

      font-size: 1.6rem;
      font-weight: 800;
      color: $color-blue-dark;

      background-color: $color-white;
    }
  }

  .banner-bg {
    display: flex;
    align-items: center;

    &--img {
      width: 100%;
    }
  }
}
