#home {
  font-family: 'Nunito Sans', sans-serif;
  background-color: $color-background;

  .bg-pink {
    position: absolute;
    top: 10%;
    left: -20%;
    background-color: rgba(216, 102, 167, 0.1);
    filter: blur(100px);
    height: 55rem;
    width: 82.9rem;
    z-index: -100;
  }

  .heading {
    &--main {
      font-weight: 800;
      font-size: 4.2rem;
      color: $color-blue-dark;
    }
    &--sub {
      font-weight: 500;
      font-size: 2.35rem;
      color: $color-blue-dark;
    }
  }

  .btn-grad {
    height: auto;

    font-size: 1.6rem;
    font-weight: 800;
    text-transform: none;

    padding: 1rem 3rem;

    @include respond(phone) {
      padding: 0;
    }
  }

  .section-services {
    .card {
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      transition: transform 0.3s;
      padding: 2.5rem;

      &:hover {
        transform: translateY(-1.5rem) scale(1.03);
      }

      &-body {
        i {
          font-size: 6rem;
          background-image: linear-gradient(
            to right,
            rgba($color-primary, 0.75),
            $color-purple-dark
          );
          -webkit-background-clip: text;
          color: transparent;
          margin-bottom: 1.5rem;
        }
      }
      &-title {
        font-weight: 800;
        font-size: 1.6rem;
        line-height: 1.6;
        text-transform: uppercase;
        color: $color-blue-dark;
      }
      &-text {
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: 500;
        text-align: center;
        color: $color-grey-dark--3;
      }
    }
  }

  .section-counter {
    background: #ece9e6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #ece9e6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .card {
      &-body {
        text-align: center;
      }

      &-title {
        font-weight: 800;
        font-size: 3.5rem;
        color: $color-blue-dark;
      }

      &-text {
        font-weight: 800;
        font-size: 1.6rem;
        text-transform: uppercase;

        color: $color-primary;
      }
    }
  }

  .section-categories {
    background: #ece9e6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #ece9e6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .circle-element {
      width: 6rem;
      height: 6rem;
      border-radius: 3rem;
      box-shadow: 0 4px 14px 0 rgba(27, 20, 65, 0.2);

      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;

      i {
        color: $color-white;
        font-size: 2.5rem;
      }

      &--person {
        background-image: linear-gradient(45deg, #12d8fa, $color-primary);
      }

      &--company {
        background-image: linear-gradient(45deg, #6277e2, #62a0df);
      }
    }

    .blue-link {
      font-size: 1.6rem;
      font-weight: 600;
      color: $color-primary;
      padding-right: 2.45rem;

      @include respond(tab-port) {
        padding-right: 1.75rem;
      }

      &:hover {
        text-decoration: underline;
        color: $color-primary;
      }
    }
  }
}
