.section-user-dashboard-heading {
  .heading {
    &--main {
      font-size: 4.5rem;
      font-weight: 800;
      color: $color-blue-dark;
    }

    &--sub {
      font-weight: 500;
      color: $color-grey-dark--3;
    }
  }
  .btn-txt {
    background-color: $color-primary;
    color: $color-white;
  }
}

.section-user-dashboard {
  display: flex;

  &--sidebar {
    width: 24rem;
    height: calc(100vh - 5rem);
    border-right: 1px solid $color-grey-light--1;

    .heading {
      &--sub {
        font-weight: 700 !important;
        font-size: 1.8rem;
      }
    }

    .input-title {
      font-weight: 700;
      color: $color-primary;
    }
  }

  &--main {
    width: calc(100vw - 30rem);
    height: calc(100vh - 5rem);

    .selectAll {
      color: $color-grey-dark--3 !important;
      font-weight: 700;
      font-size: 1.5rem;

      &:hover {
        color: $color-primary !important;
      }
    }

    .section-table {
      display: flex;
      width: calc(100vw -30rem);
      height: calc(100vh - 15rem);
      overflow-y: scroll;

      // border: 1px solid $color-grey-light--1;

      .table {
        max-height: 50vh !important;
        // margin: 1rem;
        background-color: $color-white;

        .form-check-input {
          padding: 0;
          margin: 0.4rem 0.4rem;
        }

        .name {
          color: $color-primary !important;
          font-weight: 600;
        }

        tr th {
          color: $color-secondary !important;
          font-weight: 400;
        }

        tr td {
          text-align: center;
          padding: 0.5rem 1.3rem;
        }
      }
    }
  }

  .message-box {
    background-color: $color-dashboard--light;
    border-radius: 0.5rem;
    color: $color-white;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;

    position: fixed;
    top: 17.5rem;
    left: 55vw;
  }

  .hide-text {
    display: none;
  }
}

.section-history {
  h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $color-blue-dark;
    margin-bottom: 1.8rem;
  }

  .table-scrollable {
    overflow: auto;
    max-width: 100%;
    max-height: 50.5vh;
    // box-shadow: inset 0 0 5px rgba(150, 150, 150, 0.35);
    margin: auto;
  }
}

#peopleData {
  //CUSTOM SCROLLBAR
  ::-webkit-scrollbar {
    width: 0.85rem !important;
    height: 1rem !important;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $color-grey-light--2;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb {
    background: $color-grey-light--3;
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $color-secondary;
  }
}
